/*CONTACT SECTION*/


#contact-parent{
height: 80vh;
width: 90%;
margin: 5%;
border: 2px solid black;
display: flex;
display: inline-block;
margin-right: 4%;

background: radial-gradient(#e1f5fe,rgb(45, 246, 45),rgb(243, 255, 18));
}


.contact-heading{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cnblue{
    color: #f60b0b;
    font-weight: 800;
}

/*Form-Section*/


input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
    margin-left: 5%;
    background-color:transparent;
    outline: none;
}

.text-class1 textarea{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
    margin-left: 5%;
    background-color:transparent;
    height: 8vh;
    outline: none;

}
button{
  display: flex;
   justify-content: center;
   align-items: center;
   width: 40%;
   height: 6vh;
   margin: auto;
   margin-top: 10%;
   margin-left: 13%;
   background-color: transparent;
   outline: none;
   color: #f60b0b;
   border-color: #f60b0b;

}
.contact-form-parent{
    width: 50%;
    margin-left: 4%;
}
.address1{
    display: flex;
    width: 100%;
   
}
.address-parent{
    width: 50%;
}
#para3::before{
    content: "";
    display: inline-block;
    height: 10%;
    width: 10%;
    background-size: contain;
    background-image: url(./images/e56nwy.jpg);
    font-size: 1rem;
    font-weight: bold;
    
    

}

.image-line{
    display: flex;
   justify-content: center;
    align-items: center;
   
    margin: 7%;
}

.image-line div{
margin-left: 1%;
margin-right: 1%;

}
.image-line i {
font-size: 1.9rem;


}
.address2{
    font-size: x-large;
    color: #f60b0b;
}
.address{
    color: #f60b0b;
}
.class-demo{
    color: #f60b0b;
}
.image-address{
    color: #f60b0b;
}
.image-address1{
    color: #f60b0b;
}
 #contact-parent:hover{
    transform: scale(1.1);
 }
/* a:active{
    color: black;
}
a:link{
    color: aqua;
}
a:visited{color: #f60b0b;} */