#container{
    height: 75vh;
    width: 75vw;
    background-color: aqua;
    display: flex;
}
#container div { height:200px;
    width: 200px;

}
#div1{
    background-color:black;
}
#div2{
    background-color:orangered;
}
#div3{
    background-color: white;

}
#div4{
    background-color: green;
}